*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.js-container-list,
.container-input{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    align-items: center;
}

.todo-input,
.date-input,
.add-button,
.delete-button{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.add-button{
    background-color: green;
    color: white;
    font-size: 21px;
}
.error-message{
    color: darkred;
    font-size: 20px;
}

.delete-button{
    background-color: red;
    color: white;
}

.date-input{
    font-size: 16.5px;
}


.item-paragraph{
    border-left: 2px solid gray;
    padding: 3px;
}

.date-paragraph{
    border-bottom: 1px solid gray;
}
