@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-font.ttf");
}

:root {
  font-family: "Inter";
  --dark-blue: #323377;
  --dark-gray: #6b6967;
  --light-blue: #a9beda;
  --light-black: #2a2826;
  --light-gray: #d8d7d6;
  --white: #f5f7f9;
  --buttons-width: 97%;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --modal-padding: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: url("./img/background.svg");
  background-size: 100% 100%;
}

.side-bar-container {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  box-shadow: var(--shadow);
  background-color: #f6f7f9;
  transition: 0.2s;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-container {
  height: 8.5%;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
  gap: 8px;
  cursor: default;
  font-size: 1.1rem;
}

.profile-icon {
  width: 1.8rem;
  border: 2px solid #505690;
  border-radius: 100px;
}

.profile-arrow:hover {
  background-color: #d3d3d3;
  border-radius: 100px;
}

.buttons-container {
  box-sizing: border-box;
  height: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar-button {
  cursor: default;
  box-sizing: border-box;
  flex: 1;
  gap: 3px;
  width: var(--buttons-width);
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  color: var(--light-black);
}

.side-bar-button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.side-bar-button:hover .button-icon {
  filter: brightness(0) saturate(100%) invert(20%) sepia(9%) saturate(4446%)
    hue-rotate(200deg) brightness(104%) contrast(96%);
}

.button-text {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.add-container {
  box-sizing: border-box;
  padding-left: 3px;
}

.add-text {
  color: var(--dark-blue);
  padding: 0;
  margin: 0;
  font-size: 1.05rem;
  font-weight: 500;
}

.add-icon {
  width: 1.7rem;
}

.button-icon {
  width: 1.6rem;
}

.toggle-side-bar-button {
  position: fixed;
  width: 1.4rem;
  left: 18%;
  top: 2.6vh;
  transition: 0.2s;
}

.notification-button {
  position: fixed;
  width: 1.5rem;
  left: 16%;
  top: 2.6vh;
  transition: 0.2s;
}

.toggle-side-bar-button:hover,
.notification-button:hover {
  transition: 0.1s;
  transform: scale(1.1);
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 67%;
  overflow: scroll;
  gap: 30px;
  cursor: default;
}

.project {
  width: var(--buttons-width);
  min-height: 9vh;
  max-height: 14vh;
  flex-shrink: 0;
  gap: 3px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.title-container {
  box-sizing: border-box;
  justify-content: space-between;
  gap: 0px 3px;
  display: flex;
  padding: 0px 3px;
  flex-direction: row;
  align-items: center;
}

.edit-icon {
  padding: 2px;
  width: 1.4rem;
  border-radius: 100px;
}

.edit-icon:hover {
  background-color: #d3d3d3;
}

.task-container {
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-mini {
  display: flex;
  gap: 5px;
  padding-left: 5px;
  flex-direction: row;
  align-items: center;
}

.title-container p,
.task-mini p {
  padding: 0;
  margin: 0;
}

.task-img {
  width: 1.3rem;
}

.title-container p {
  padding-left: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-blue);
}

.main-container {
  width: 80%;
  height: 100%;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
}

.top-bar-container {
  width: 100%;
  height: 8.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 25px;
}

.section-container {
  width: 100%;
  height: 92.5%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  gap: 20px;
}

.section {
  flex: 1;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  padding: 1%;
  box-sizing: border-box;
}

.section-tittle {
  height: 6%;
  font-size: 1.6rem;
  font-weight: 700;
}

.new-project-button {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.new-project-button:hover {
  transition: 200ms;
  transform: rotate(90deg);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-task-dialog,
.new-project-dialog {
  outline: none;
  border: 2px solid var(--light-gray);
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 0;
}

.add-task-dialog {
  width: 35vw;
  height: 23vh;
  transition: 200ms;
}

.add-task-container {
  transition: 200ms;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.task-input-container {
  flex: 1;
  box-sizing: border-box;
  padding-left: var(--modal-padding);
}

.task-input {
  width: 100%;
  height: 100%;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
}

.task-buttons-container {
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--modal-padding);
  padding-bottom: var(--modal-padding);
  flex: 1;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}

.due-date-button,
.priority-button,
.description-button {
  cursor: default;
  height: 35%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}

.due-date-button:hover,
.priority-button:hover,
.description-button:hover {
  filter: brightness(0) saturate(100%) invert(20%) sepia(9%) saturate(4446%)
    hue-rotate(200deg) brightness(104%) contrast(96%);
}

.due-date-button p,
.priority-button p,
.description-button p,
.project-button p {
  margin: 0;
  padding: 0;
  color: var(--dark-gray);
}

.buttons-content-container {
  height: 0%;
  transition: 200ms;
  overflow: hidden;
  box-sizing: border-box;
}

.task-submit-container {
  flex: 1;
  box-sizing: border-box;
  padding-left: var(--modal-padding);
  padding-right: var(--modal-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-button {
  cursor: default;
  height: 35%;
  display: flex;
  gap: 3px;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  padding-right: 15px;
}

.project-button:hover {
  background-color: var(--light-gray);
}

.submit-button {
  border: none;
  border-radius: 5px;
  background-color: var(--dark-blue);
  text-align: center;
  height: 50%;
  color: white;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #505690;
}

.description-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1.4rem;
  padding: 7px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  font-family: "Inter";
}

.priorities-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.radio-container {
  width: 10vw;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  color: var(--dark-gray);
  border: 1px solid var(--light-gray);
}

.Low:hover {
  border: 1px solid #01a96b;
  color: #01a96b;
}

.Medium:hover {
  border: 1px solid #e69b00;
  color: #e69b00;
}

.High:hover {
  border: 1px solid #d61339;
  color: #d61339;
}

.calendar-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
