@font-face {
  font-family: "Inter";
  src: url("./fonts/inter-font.ttf");
}

:root {
  font-family: "Inter";
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: url("./img/background.svg");
  background-size: 100% 100%;
}

.side-bar-container {
  width: 20%;
  height: 100%;
  border-right: 0.5px solid #323377;
  background-color: #f6f7f9;
  transition: 0.2s;
  overflow: hidden;
}

.main-container {
  width: 80%;
  height: 100%;
  transition: 0.2s;
}

.toggle-side-bar-button {
  position: fixed;
  width: 25px;
  left: 16%;
  top: 25px;
  transition: 0.2s;
}

.toggle-side-bar-button:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
